<!DOCTYPE html>
<html lang="es" manifest="./cache.manifest">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="manifest" href="./manifest.json">
    <meta name="theme_color" content="#48555E">

    <link rel="icon" href="./img/favicon.ico">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./img/manifest.json">
    <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="salvacam">
    <meta name="application-name" content="salvacam">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/mstile-144x144.png">
    <meta name="msapplication-config" content="img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- for Google -->
    <meta name="description" content="Desarrollodor web en Granada.">
    <meta name="keywords" content="páginas web, diseño web, Granada, desarrollador, wordpress, javascript, jquery, angular, backbone, php, bootstrap" />

    <meta name="author" content="Salvador Camacho" />

    <!-- for Facebook -->
    <meta property="og:title" content="Desarrollodor web en Granada. Salvador Camacho." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://salvacam.x10.mx/img/foto.png" />
    <meta property="og:url" content="http://salvacam.x10.mx" />
    <meta property="og:description" content="Desarrollo de aplicaciones y páginas web en Granada." />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Desarrollodor web en Granada. Salvador Camacho." />
    <meta name="twitter:description" content="Desarrollo de aplicaciones y páginas web en Granada." />
    <meta name="twitter:image" content="http://salvacam.x10.mx/img/foto.png" />
    
    <meta name="google-site-verification" content="qd2sBH8TUSxdjwrGddYnYsVOzd7OY22uF_pqoV6gn9U" />
    <title>Salvador Camacho</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



  <!-- Para desarollo -->
  <!--
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  -->

  <!-- Para produccion -->
  <link href="css/style.min.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" >Salvador <span id="last_name">Camacho</span>
<a class="redes linkedin" href="https://es.linkedin.com/in/salvador-camacho-soto-460092116" title="LikedIn" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a>
          <a class="redes github" href="http://github.com/salvacam" title="GitHub" target="_blank" rel="noopener"><i class="fa fa-github"></i></a>
          </span>
          
          
        </div>
        <div id="navbar" class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="router" id="inicio" href="#router">Inicio</a></li>
            <li><a class="router" id="porfolio" href="#porfolio">Porfolio</a></li>            
          </ul>
          <a class="redes github" href="http://github.com/salvacam" title="GitHub" target="_blank" rel="noopener"><i class="fa fa-github fa-3x"></i></a>
          <a class="redes linkedin" href="https://es.linkedin.com/in/salvador-camacho-soto-460092116" title="LikedIn" target="_blank" rel="noopener"><i class="fa fa-linkedin fa-3x"></i></a>
        </div>
      </div>
    </nav>

  <div class="cv-template template router" id="inicio-content">
  
  <div class="presentacion">
    <span class="br">¡Hola!, Soy Salvador Camacho, soy Desarrollador Web y Administrador de Sistemas. </span>
    <span class="br">Puedes ver mi curriculum a continuación y ver algunos de los proyectos, que he realizado a titulo personal, en la sección Porfolio.</span>
  </div>  

  <div class="datos_personales">
    <h3>Datos Personales</h3>
    <div id="foto" class="img-circle"></div>  
    <div class="info_datos">
      <strong>Salvador Camacho Soto</strong>      
      <span class="br">Viviendo en: <strong>Granada</strong>, España</span>     
        <span class="br">Correo: <strong><a href="mailto:salvacams@gmail.com">salvacams@gmail.com</a></strong></span>
  
    </div>
  </div>

  <div class="experiencia">
    <h3>Experiencia Laboral</h3>
    <ul class="for" id="trabajos">
    </ul>
  </div>

  <div class="formacion">
    <br/>
    <h3>Datos Académicos</h3>
    <ul class="for" id="titulacion">
    </ul>
  </div>

  <h3>Formación Complementaria (<a href="#" id="alternar-cursos">ver</a>)</h3>  
  
  <ul class="cursos" id="formacionComplementaria">
  </ul>

  <div class="experiencia">
    <h3>Otros datos de interes</h3>
    <ul>
      <!-- <li>Disponibilidad inmediata.</li>  -->    
      <li>Ganas de trabajar, aprender y seguir evolucionando.</li>
      <li>Poseo carné de conducir B y vehículo propio.</li>     
      <li class="br bottom"></li>
      <li>Conocimientos en:</li>
      
        <li class="tab">Sistemas operativos: <strong>GNU/Linux y Windows.</strong></li>
        <li class="tab">Lenguajes de programación: <strong>JAVA, PHP, Javascript, AJAX, Node.js, jQuery, Python.</strong></li>
        <li class="tab">Sistemas gestores de Bases de Datos: <strong>MySQL, Microsoft SQL Server, DB4O, indexedDB.</strong></li>
        <li class="tab">Diseño web: <strong>HTML5, CSS3, Responsive design.</strong></li>
        <li class="tab">Framework: <strong>Backbone.js, Bootstrap, Angular JS, Phonegap, Phaser.</strong></li>
        <li class="tab">Control de versiones: <strong>GIT.</strong></li>
        <li class="tab">Pre-procesador CSS: <strong>Less, Sass</strong></li>
        <li class="tab">Automatizador de tareas: <strong>Gulp</strong></li>
        <li class="tab">Gestores de contenidos: <strong>Joomla, Wordpress, Prestashop.</strong></li>
        <li class="tab"><strong>Photoshop, Gimp.</strong></li>      
    </ul>
  </div>

  </div>

  <div class="router porfolio-template template" id="porfolio-content"></div>


  <!-- Template trabajos-->

  <script id="trabajosTemplate" type="x-template">
      {%if url%}
        <a href="{{url}}" target="_blank" rel="noopener">
          <i class="fa fa-building-o"></i> {{empresa}}
        </a>
      {%else%}
        <span class="no-enlace"><i class="fa fa-building-o"></i> {{empresa}}</span>
      {%endif%}
      <span class="br"><i class="fa fa-briefcase" ></i> {{empleo}}</span>       
      <span class="br"><i class="fa fa-list-ul" ></i> {{descripcion}}</span>
      <span class="br"><i class="fa fa-map-o"></i> {{lugar}}</span>
      <span class="br bottom"><i class="fa fa-calendar-o"></i> {{fecha}}</span>
  </script>


  <!-- Template titulacion-->

  <script id="titulosTemplate" type="x-template">
        <span class="no-enlace top"><i class="fa fa-graduation-cap"></i> {{nombre}}</span> 
        <span class="br"><i class="fa fa-university"></i> {{entidad}}</span>       
        <span class="br"><i class="fa fa-calendar-o"></i> {{fecha}}</span>
        {%if matricula%}   
        <span class="no-enlace mat"><i class="fa fa-book"></i> Matricula de honor</span>
        {%endif%}
  </script>

    <!-- Template cursos-->

  <script id="cursosTemplate" type="x-template">
      {%if url%}    
      <a href="{{url}}" target="_blank" rel="noopener">
        <i class="fa fa-graduation-cap"></i> {{nombre}}
      </a>
      {%else%}
      <span class="no-enlace"><i class="fa fa-graduation-cap"></i> {{nombre}}</span>
      {%endif%}
      <span class="br"><i class="fa fa-university"></i> {{entidad}}</span>
      <span class="br"><i class="fa fa-calendar-o"></i> {{fecha}}</span>
    </script>
  
  <!-- Template porfolio-->

  <script id="porfolioTemplate" type="x-template">
      <a href="{{url}}" target="_blank" rel="noopener">
        <img src="img/porfolio/{{img}}.png" class="img-rounded" alt="{{alt}}"/>
      </a>
      <span class="title_projecto">{{nombre}}</span>  
      {%if git%}
        <a class="btn btn-info git" href="{{git}}" target="_blank" rel="noopener">
          <i class="fa fa-github" ></i> GitHub
        </a>
      {%endif%}
      {%if doc%}
      <a class="btn btn-info pdf" href="{{doc}}" target="_blank" rel="noopener">
        <i class="fa fa-file-pdf-o"></i> Documentación 
      </a>
      {%endif%}
      {%if slide%}
        <a class="btn btn-info slide" href="{{slide}}" target="_blank" rel="noopener">
        <i class="fa fa-file-powerpoint-o"></i> Presentación
      </a>
      {%endif%} 
  </script>

  <!-- Para desarrollo -->
  <!--
  <script type="text/javascript" src="./js/main.js"></script>
  -->

  <!-- Para produccion -->
  <script type="text/javascript" src="./js/main.min.js"></script>
  
</body>
</html>


